.TodoWrapper{
    padding:20px;
    display: flex;
    align-items: start;
    justify-content: center; 
}
.todoCard{
    /* height: 200px; */
    width: 400px;
    margin-top: 10 !important;
}

.todo--checkbox{
    padding-left: 0;
}